.join {
	display: flex;
	padding: 0 2rem;
	gap: 10rem;
}

.left-j {
	color: var(--light-text);
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}

.left-j > hr {
	position: absolute;
	width: 10.5rem;
	border: 2px solid var(--orange);
	border-radius: 20%;
	margin: -10px 0;
}

.left-j > div {
	display: flex;
	gap: 1rem;
}

.right-j {
	display: flex;
	justify-content: center;
	align-items: center;
}

.email-container {
	display: flex;
	gap: 3rem;
	background-color: var(--gray);
	padding: 1rem 2rem;
}

.email-container > input {
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--lightgray);
	/* width: 18.5rem; */
}

::placeholder {
	color: var(--lightgray);
}

.btn-j {
	background-color: var(--orange);
	color: var(--light-text);
}

.btn-j {
	/* background-color: var(--orange); */
	/* color: var(--light-text); */
}

/* lets join */
